<?xml version="1.0" encoding="utf-8"?>

<!-- Дополнительные сведения об использовании преобразования web.config см. на странице https://go.microsoft.com/fwlink/?LinkId=125889. -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
 
    <connectionStrings>
      <add name="DataBase"
        connectionString="Data Source=DESKTOP\SQLEXPRESS;User ID=sa;Password=197312;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
        providerName="System.Data.SqlClient" />
           </connectionStrings>
  <system.web>
    
  </system.web>
</configuration>